<div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div><h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
